 
        
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header,footer{
              color:white;
              background-color: rgb(114, 114,114);
}

header{
       display: grid; 
       grid-template-columns: repeat(2,50%);
       
}

header div{
             height: 100px;
}

header div img{
                width: 250px;
                height: 90px;
                margin-left: 200px;
                }

.navegacion{
            display: flex;
            align-items: center;
            justify-content: center;                                  
}

.navegacion li{   
                display: flex;
                align-items: center;
                justify-content: center;
                list-style: none;    
                width: 100px;  
                height: 90px;                   
}

.navegacion li a{
                    text-decoration: none;
                    color: white;
}

.navegacion li a:hover{
                        background-color: white;
                        color: black;
}


.grid-container{
                display: grid;
                grid-template-columns: repeat(4,200px); 
                grid-template-rows: repeat(3,300px); 
                justify-content: center; 
                padding-top: 40px;
                padding-bottom: 10px;
                column-gap: 5px;
                row-gap: 20px;  
                }

.grid-container div{            
                    border: 5px solid black; 
                    border-radius: 6px;            
}

.grid-container div img{
                        width: 190px;
                        height: 290px;
}
 

footer{  
        text-align: center;             
        padding: 20px;
}

.nombrecine{
            font-size: 30px;                    
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 10px;
}




 